html {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 1px white;/*水平 垂直 半径 颜色*/
}

body {
    width: 600px;
    margin: 0 auto;/*纵向 横向*/
    background-color: #5b6662;
    padding: 0 20px 20px 20px;/*上右下左*/
    border: 5px dashed black;
  }
  
p,
#ele1,#ele2 {
    color: pink;
    width: 150px;
    border: 3px double rgb(159, 159, 122);
    /*padding 内边距；
        border 边框；
        margin 外边距
        background-color 内边距底下的颜色
        text-shadow 文本阴影
        display 显示模式*/
}

.editor-note {
    color: rgb(158, 118, 103);
}

img[src] {
    width: 500px;
    display: block;/*让行级别的元素img具备块级别的功能*/
    margin:0 auto;
}

/*选择仅在鼠标指针悬停在链接上时的 <a> 元素*/
a:hover {
    color: rgb(218, 144, 144);
}

q{
    font-size: smaller;
}

.time-container{
    text-align: right;
}

time{
    color:aqua;
}